<ion-header>
  <ion-toolbar>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <!-- Lo que se vera en la página -->

  <ion-list>
    <ion-item *ngFor="let component of components" [routerLink]="component.redirectTo" detail>
      <ion-icon slot="start" [name]="component.icon"></ion-icon>
      <ion-label>{{ component.name }}</ion-label>
    </ion-item>
  </ion-list>

  <!--
  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>
  -->
</ion-content>