<app-header [title]="title || 'Alert Page'"></app-header>

<!--  -->

<ion-content padding>
  <ion-button color="primary" (click)="presentAlert()">
    Mostar Alert
  </ion-button>

  <ion-button color="primary" (click)="presentInput()">
    Mostar Input
  </ion-button>
</ion-content>