<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Boton</ion-title>

    <ion-buttons slot="end">

      <ion-button color="warning">
        <ion-icon name="pizza-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger">
        <ion-icon name="heart"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Botones Normales -->
  <ion-button size="small" expand="full">
    Small
  </ion-button>
  <ion-button expand="full">
    Default
  </ion-button>
  <ion-button size="large" expand="full">
    Large
  </ion-button>

  <!-- Anchor -->
  <ion-button class="top-20" routerLink="/alert" color="tertiary" expand="full">
    Alert
  </ion-button>

  <!-- ion-row + ion-col-->
  <ion-row class="top-20">
    <ion-col>
      <ion-button routerLink="/avatar" expand="full" color="tertiary">
        Avatar
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button routerLink="/action-sheet" expand="full" color="tertiary">
        Action Sheet
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Fill -->
  <ion-button class="top-20" fill="clear">
    Clear
  </ion-button>
  <ion-button class="top-20" fill="outline">
    OutLine
  </ion-button>
  <ion-button class="top-20" fill="solid">
    Solid
  </ion-button>

</ion-content>
