<app-header title="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon color="dark" slot="start" name="pin"></ion-icon>
      <ion-label> Marcador </ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
      dolorum, facilis dolor sunt consequuntur praesentium perspiciatis
      sapiente. Debitis similique quam tempore! Delectus consectetur quos
      necessitatibus laboriosam cum provident minima saepe.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Prueba</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et a nostrum, molestiae eveniet delectus nulla at quasi
      tenetur accusantium atque illum porro? Impedit quia quam quis temporibus molestias aperiam? Ab!
    </ion-card-content>
  </ion-card>
</ion-content>